/* TITLE =========================================================== */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 500;
}

/* LINKS & BUTTONS =================================================== */

a {
    color: var(--dark-green);
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    padding: 0;

    border: none;
    border-radius: 0.5rem;
    
    color: #fff;
    background-color: var(--dark-green);
    cursor: pointer;

    transition: all 0.4s;
}

button:hover {
    background-color: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 0.5rem;

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
    transition: all 0.3s;
}

.button.cancel:hover {
    opacity: 1;
}