/* BALANCE ============================================================*/

#balance {
    margin-top: -5rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* CARD ============================================================*/

.card {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    
    margin-bottom: 2rem;
    color: var(--dark-blue)
}

.card h3 {
    font-weight: 500;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;   
}


.card-total.total {
    background-color: var(--dark-green);
    color: #fff;
    transition: all 0.5s;
}

.card-total.over {
    background-color: var(--red);
    color: #fff;
    transition: all 0.5s;
}

.card-total {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    
    margin-bottom: 2rem;
    color: var(--dark-blue);    

    transition: all 0.5s;
}

.card-total h3 {
    font-weight: 500;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-total p {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;   
}

/* TRANSACTION =======================================================*/

#transaction {
    display: block;
    overflow-x: auto;
}

/* TABLE ============================================================*/

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-blue);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.6rem 0 0 0.6rem ;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.6rem 0.6rem 0 ;
}

table thead th {
    background-color: #fff;
    font-weight: 400;

    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
    transition: all .2;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background-color: #fff;
    padding: 1rem 2rem;
    font-weight: 500;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--dark-green)
}

td.expanse {
    color: var(--red);
}